{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
{% block free_delivery %}
{% endblock %}

<div class="container settings-container mt-5">
    <h1>Change Password Settings</h1>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Afișează fiecare câmp individual -->
        <div class="form-group">
            <label for="id_old_password">Old Password</label>
            {{ form.old_password|add_class:"form-control" }}
            <input type="checkbox" onclick="togglePassword('id_old_password')" /> Show Password
        </div>

        <div class="form-group">
            <label for="id_new_password1">New Password</label>
            {{ form.new_password1|add_class:"form-control" }}
            <input type="checkbox" onclick="togglePassword('id_new_password1')" /> Show Password
        </div>

        <div class="form-group">
            <label for="id_new_password2">Confirm New Password</label>
            {{ form.new_password2|add_class:"form-control" }}
            <input type="checkbox" onclick="togglePassword('id_new_password2')" /> Show Password
        </div>

        <button type="submit" class="btn btn-primary">Save Settings</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'settings' %}'">Cancel</button>
    </form>
</div>

<script>
function togglePassword(fieldId) {
    var field = document.getElementById(fieldId);
    if (field.type === "password") {
        field.type = "text";
    } else {
        field.type = "password";
    }
}
</script>
{% block footer %}

{% endblock %}
{% endblock %}
