<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Autorilor</title>
</head>
<body>
    <h1>Lista Autorilor</h1>
    <ul>
        {% for author in authors %}
        <li>{{ author.name }} (născut la: {{ author.birthdate }})</li>
        {% empty %}
        <li>Nu există autori adăugați încă.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'main_page' %}">Înapoi la pagina principală</a>
</body>
</html>
