<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principală</title>
</head>
<body>
    <h1>Bine ai venit!</h1>
    <p>Alege ce vrei să faci:</p>

    <h2>Adaugă</h2>
    <ul>
        <li><a href="{% url 'add_all' %}">Adaugă Autor</a></li>
  
    </ul>

    <h2>Liste</h2>
    <ul>
        <li><a href="{% url 'authors_list' %}">Lista Autorilor</a></li>
        <li><a href="{% url 'books_list' %}">Lista Cărților</a></li>
        <li><a href="{% url 'publishers_list' %}">Lista Editurilor</a></li>
        <li><a href="{% url 'series_list' %}">Lista Seriilor</a></li>
    </ul>
</body>
</html>
