<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Editurilor</title>
</head>
<body>
    <h1>Lista Editurilor</h1>
    <ul>
        {% for publisher in publishers %}
        <li>{{ publisher.name }} (înființată la: {{ publisher.founded }})</li>
        {% empty %}
        <li>Nu există edituri adăugate încă.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'main_page' %}">Înapoi la pagina principală</a>
</body>
</html>
