{% load microcontroller_filters %}
{% load custom_tags %} 

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All all_microcontrollers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-all_microcontrollers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Microcontrollers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-all_microcontrollers-link">
                <a href="{% url 'all_microcontrollers' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'all_microcontrollers' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'all_microcontrollers' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'all_microcontrollers' %}" class="dropdown-item">All Microcontrollers</a>
            </div>
        </li>

        <!-- Dynamic Microcontroller Families Dropdown -->
        {% for family_name, microcontrollers in family_microcontrollers.items %}
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-4" href="#" id="{{ family_name }}-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ family_name }}
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="{{ family_name }}-link">
                    {% for microcontroller in microcontrollers %}
                        <a href="{% url 'all_microcontrollers' %}?category={{ microcontroller.name }}" class="dropdown-item">{{ microcontroller.name }}</a>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
<!-- Special Offers Dropdown -->
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Special Offers
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'all_microcontrollers' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
        <a href="{% url 'all_microcontrollers' %}?category=deals" class="dropdown-item">Deals</a>
        <a href="{% url 'all_microcontrollers' %}?category=clearance" class="dropdown-item">Clearance</a>
        <a href="{% url 'all_microcontrollers' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
        <div class="dropdown-divider"></div> <!-- separator line -->
        <a href="javascript:void(0);" id="subscribe-btn" class="dropdown-item">
            {% if request.user.usersettings.receive_newsletter %}
                Unsubscribe from Newsletter
            {% else %}
                Subscribe to Newsletter
            {% endif %}
        </a>
        
    </div>
</li>



        <!-- Arduino Docs Link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="https://www.arduino.cc/" target="_blank" rel="noopener noreferrer">
                Arduino Docs
            </a>
        </li>
    </ul>
</div>
