<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- AVR Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="avr-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                AVR
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="avr-link">
                <a href="{% url 'products' %}?category=arduino_boards" class="dropdown-item">Arduino Nano</a>
                <a href="{% url 'products' %}?category=arduino_boards" class="dropdown-item">Arduino Uno</a>
                <a href="{% url 'products' %}?category=arduino_boards" class="dropdown-item">Arduino Mega</a>
                <a href="{% url 'products' %}?category=arduino_boards" class="dropdown-item">All Arduino Boards</a>
            </div>
        </li>

        <!-- ESP Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="esp-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ESP
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="esp-link">
                <a href="{% url 'products' %}?category=esp32" class="dropdown-item">ESP32</a>
                <a href="{% url 'products' %}?category=esp8266" class="dropdown-item">ESP8266</a>
                <a href="{% url 'products' %}?category=esp32,esp8266" class="dropdown-item">All ESP Products</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
